/*
Theme Name: Liikavaara
Template: ekko
Author: Timelab
Author URI: https://www.timelab.se
Description: Ekko child theme for Liikavaara
Version: 1.0.0
Text Domain:  liikavaara

/* Below you can write your style */
.grecaptcha-badge {
  z-index: 2999999999;
}

.back-to-top {
  bottom: 90px;
}

.back-to-top.active {
  right: 21px;
}

body.archive.woocommerce-page .blog-page-heading .container .section-heading {
  display: none;
}

div.team-member.design-creative .team-content .team-content-hover h4 {
  font-size: 25px;
}


.topbar-custom-content {
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: #0A0A0A !important;
}

.topbar-right-content .topbar-custom-content,
.topbar-right-content .topbar-contact {
  float: left;
}

.topbar-right-content .topbar-custom-content { border-right: 1px solid rgba(132, 132, 132, 0.15); }
.topbar-left-content .topbar-custom-content { float: right; }

.topbar-left-content,
.topbar-right-content {
  display: flex;
}

.topbar-center-content {
  display: flex;
  margin: 0 auto;
}

.topbar-center-content + .topbar-right-content {
  margin-left: 0;
}

body .topbar .keydesign-cart span.badge,
body .menubar .keydesign-cart span.badge {
  color:#000 !important;
}

div.team-member.design-creative .team-content .team-content-hover h4 {
  font-size: 25px;
}


@media (max-width: 959px) {  
  #main-menu .navbar-nav .menu-item-has-children .mobile-dropdown {
      width: 100%;
      text-align: right;
      cursor: pointer;
  }
  
  .cta-button-mobile { margin-top: -30px; }

  .team-member.design-creative .team-content .team-content-hover h4, .team-member.design-creative .team-content .team-content-hover .team-subtitle {
      transform: none !important;
      margin-bottom: 0px !important;
  }
}

@media (max-width: 943px) {
  .first-header {
    padding-top: 58px;
  }
}


@media (min-width:992px) {
  .blog .entry-header.blog-header.with-topbar,
  body .entry-header.with-topbar {
    padding-top: 182.5px;
    padding-bottom: 75px;
  }
}

@media(max-width: 767px) {
  .reverse-column-phone {
      display: flex;
      flex-direction: column-reverse;
  }
}